/*
 * Copyright 17-aug-2013 ºDeme
 *
 * This file is part of 'GA1'.
 *
 * 'GA1' is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License.
 *
 * 'GA1' is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with 'GA1'.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
	background-color : #f0f1f2;
	}
table.menu
table.main {
	border-collapse : collapse;
	border : 0px;
	}
table.main {
	width : 100%
	}

.title,
.title td,
.title p {
	font-weight : bold;
	font-size : x-large;
	color : #763636
	}


